<div class="card mt-3 mb-3 mx-auto" style="max-width: 540px;">

  <div class="row g-0">
    <div class="col-sm-4 d-flex my-auto">
      <img src="../../../assets/img/chocolate-2202123_640.jpg" class="img-fluid rounded-start" alt="...">
    </div>

    <div class="col-sm-7">
      <div class="card-body bg-dark border-light">
        <h5 class="card-title">Snicker</h5>
        <p class="card-text">R$ 4,50 un.</p>
        <p class="card-text"><small class="text-muted">Em estoque: 15</small></p>
      </div>
    </div>

    <div class="col-sm-1">
      <div class="btn-group-vertical d-flex h-100">
        <button type="button" class="btn btn-danger"><i class="bi bi-plus"></i></button>
        <button type="button" class="btn btn-light"><i class="bi bi-dash"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3 mb-3 mx-auto" style="max-width: 540px;">

  <div class="row g-0">
    <div class="col-sm-4 d-flex my-auto">
      <img src="../../../assets/img/crisps-843993_640.jpg" class="img-fluid rounded-start" alt="...">
    </div>

    <div class="col-sm-7">
      <div class="card-body bg-dark border-light">
        <h5 class="card-title">Batata Pringles</h5>
        <p class="card-text">R$ 9,90 un.</p>
        <p class="card-text"><small class="text-muted">Em estoque: 3</small></p>
      </div>
    </div>

    <div class="col-sm-1">
      <div class="btn-group-vertical d-flex h-100">
        <button type="button" class="btn btn-danger"><i class="bi bi-plus"></i></button>
        <button type="button" class="btn btn-light"><i class="bi bi-dash"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3 mb-3 mx-auto" style="max-width: 540px;">

  <div class="row g-0">
    <div class="col-sm-4 d-flex my-auto">
      <img src="../../../assets/img/cookie-3216243_640.jpg" class="img-fluid rounded-start" alt="...">
    </div>

    <div class="col-sm-7">
      <div class="card-body bg-dark border-light">
        <h5 class="card-title">Biscoito Recheado</h5>
        <p class="card-text">R$ 3,75</p>
        <p class="card-text"><small class="text-muted">Em estoque: 20</small></p>
      </div>
    </div>

    <div class="col-sm-1">
      <div class="btn-group-vertical d-flex h-100">
        <button type="button" class="btn btn-danger"><i class="bi bi-plus"></i></button>
        <button type="button" class="btn btn-light"><i class="bi bi-dash"></i></button>
      </div>
    </div>
  </div>
</div>
